@import url('https://themes.googleusercontent.com/fonts/css?kit=cGvuclDC_Z1vE_cnVEU6Ae_NZQ7StBcqH_vXVqoPMX0');

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c4 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #333333;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 468pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c17 {
    color: #e69138;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c11 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Arial";
    font-style: normal
}

.c12 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #fcc28c;
    font-weight: 400
}

.c31 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #e69138;
    font-weight: 400
}

.c1 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #ffffff;
    font-weight: 400
}

.c7 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #62c8f3;
    font-weight: 400
}

.c10 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #ffffaa;
    font-weight: 400
}

.c8 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #a2fca2;
    font-weight: 400
}

.c18 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #ade5fc;
    font-weight: 400
}

.c29 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #fc9b9b;
    font-weight: 400
}

.c30 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #c6b4f0;
    font-weight: 400
}

.c2 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #62c8f3;
    font-weight: 700
}

.c27 {
    background-color: #333333;
    font-size: 8pt;
    font-family: "Consolas";
    color: #d36363;
    font-weight: 400
}

.c13 {
    background-color: #333333;
    font-family: "Consolas";
    color: #62c8f3;
    font-weight: 400
}

.c15 {
    background-color: #333333;
    font-family: "Consolas";
    color: #ffffff;
    font-weight: 400
}

.c20 {
    background-color: #333333;
    font-family: "Consolas";
    color: #4a86e8;
    font-weight: 400
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c28 {
    background-color: #333333;
    font-family: "Consolas";
    color: #a2fca2;
    font-weight: 400
}

.c16 {
    background-color: #333333;
    font-family: "Consolas";
    color: #569cd6;
    font-weight: 400
}

.c26 {
    background-color: #333333;
    font-family: "Consolas";
    color: #62c8f3;
    font-weight: 700
}

.c25 {
    color: #a2fca2;
    font-weight: 400;
    font-size: 8pt;
    font-family: "Arial"
}

.c35 {
    background-color: #333333;
    font-family: "Consolas";
    color: #e69138;
    font-weight: 400
}

.c19 {
    background-color: #333333;
    font-family: "Consolas";
    color: #ffffaa;
    font-weight: 400
}

.c22 {
    background-color: #333333;
    font-family: "Consolas";
    color: #fcc28c;
    font-weight: 400
}

.c6 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c21 {
    background-color: #333333;
    font-family: "Consolas";
    color: #c9daf8;
    font-weight: 400
}

.c34 {
    color: #a2fca2;
    font-weight: 400;
    font-family: "Courier New"
}

.c32 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c23 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c14 {
    orphans: 2;
    widows: 2
}

.c24 {
    font-size: 9pt
}

.c0 {
    height: 0pt
}

.c33 {
    font-size: 8pt
}

.c9 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
